<label>Print new node:</label>
<input [(ngModel)]="name" placeholder="name">
<button (click)="addNewNode()">add</button>
<div class="fild">
    <div *ngFor="let num of massive">
        <ul>
            <li><head-tree [(name)]='num.name' [(children)]='num.children' [(parents)]='num.parents' [(depth)]='num.depth'></head-tree></li>
        </ul>    
    </div>
</div>
