.nod {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background: #ff0000;
    display: table-cell;
    color: #ffffff;
    vertical-align: middle;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    position:relative;
}
li {
    list-style-type: none;
    margin: 20px;
}
button{
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-radius: 10px;
    border: 2px solid blue;
    font-family: Arial, Helvetica, sans-serif;
    background: blue;
    color: white;
    font-weight: 800;
}