<ul>
    <div class="nod">
        <span>{{name}}</span>
        <button (click)="addchild()">+</button>
    </div>
    <div *ngFor="let num of children" class="fild">
        <li><head-tree [name]='num.name' [children]='num.children' [parents]='num.parents' [depth]='num.depth'></head-tree></li>   
    </div>
</ul>